
User-Admin/.idea/inspectionProfiles/profiles_settings.xml
User-Admin/.idea/misc.xml
User-Admin/.idea/modules.xml
User-Admin/.idea/User-Admin.iml
User-Admin/.idea/vcs.xml
User-Admin/modules/__pycache__/__init__.cpython-311.pyc
User-Admin/modules/__pycache__/admin.cpython-311.pyc
User-Admin/modules/__pycache__/user.cpython-311.pyc
User-Admin/user.dat
