<!DOCTYPE html>
<html>
  <head>
    <title>Create Trainee</title>
  </head>
  <body>
    <h1>Create Trainee</h1>
    <form method="POST">
      <label for="trainee_id">Trainee ID:</label>
      <input type="text" id="trainee_id" name="trainee_id"><br><br>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="course">Course:</label>
      <input type="text" id="course" name="course"><br><br>
      <label for="degree">Degree:</label>
      <input type="text" id="degree" name="degree"><br><br>
      <label for="work_experience">Work Experience:</label>
      <input type="text" id="work_experience" name="work_experience"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
