<!DOCTYPE html>
<html>
<head>
    <title>Learning Management System</title>
</head>
<body>
    <h1>Welcome to our Learning Management System</h1>
    <ul>
        <li><a href="/trainee">Create Trainee</a></li>
        <li><a href="/trainer">Create Trainer</a></li>
        <li><a href="/course">Create Course</a></li>
        <li><a href="/manager">Create Manager</a></li>
        <li><a href="/enrollment">Create Enrollment</a></li>
        <li><a href="/attendance">View Attendance</a></li>
    </ul>
</body>
</html>
